.features {
  position: relative;

  &::before {
    background-color: $color-blue;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    @include medium {
      width: 50%;
    }
  }

  .container {
    background-color: $color-blue;
    padding: 75px 0;
    position: relative;

    @include medium {
      padding: 100px 0;
    }
  }

  &__headline {
    @extend .headline;
    color: $color-white;

    &::after {
      background-color: rgba(255, 255, 255, 0.25);
      content: '';
      display: block;
      height: 1px;
      margin: 30px 0 60px;
      width: 100px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;

      @include medium {
        margin-bottom: 0;
      }
    }

    &:nth-child(-n + 3) {
      @include medium {
        margin-bottom: 60px;
      }
    }

    h3 {
      color: $color-red;
      font-family: $font-droid;
      font-size: rem(24px);
      margin-bottom: 30px;
    }

    p {
      @extend .body-copy;
      color: $color-white;
    }
  }
}
