.hero {
  height: 100vh;

  &__headline {
    @extend .headline;
    color: $color-blue;
    margin-bottom: rem(30px);

    span {
      color: $color-red;
    }
  }

  &__logo {
    margin-top: 5vh;
    margin-bottom: 10vh;

    img {
      height: 40px;
    }

    @include small {
      margin-bottom: 45vh;
    }

    @include medium {
      margin-bottom: 20vh;
    }
  }

  &__tagline {
    @extend .body-copy;
    color: $color-gray;
  }

  &__cta {
    @extend .body-copy;
    align-items: center;
    color: $color-blue;
    cursor: pointer;
    display: flex;
    margin-top: 60px;
    text-decoration: none;

    img {
      padding-right: 20px;
    }
  }

  &__shape {
    display: none;
    height: 60vw;
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;

    video {
      width: 100%;
    }

    @include small {
      display: block;
    }

    @include medium {
      height: 45vw;
      width: 45vw;
    }
  }

  .centered-container {
    @include center(y);
  }
}
