.perks {
  padding: 75px 0;

  @include medium {
    padding: 175px 0;
  }

  &__headline {
    @extend .headline;
    color: $color-blue;
    margin-bottom: rem(30px);

    span {
      color: $color-red;
    }
  }

  &__perk {
    @extend .body-copy;
    color: $color-gray;
    margin-bottom: 30px;
    text-align: center;

    @include small {
      margin-bottom: 50px;
    }

    @include medium {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto 20px;
    width: 20%;

    @include small {
      width: 10%;
    }

    @include medium {
      width: 100%;
    }
  }

  &__spacer {
    background-color: $color-blue;
    height: 1px;
    width: 100px;
    margin-bottom: 60px;

    @include medium {
      margin-bottom: 100px;
    }
  }
}
