.headline {
  font-family: $font-droid;
  font-size: rem(32px);
  letter-spacing: 0;
  line-height: rem(42px);
}

.body-copy {
  font-family: $font-roboto;
  font-size: rem(18px);
  letter-spacing: 0;
  line-height: rem(26px);
}
