// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0a0d55;
$color-red: #ff586b;

// Fonts variables
$font-droid: 'Droid Sans';
$font-gotham: 'Gotham';

// Other
$base-font-size: 16px;

// Responsive
$tablet-width: 768px;
$desktop-width: 1025px;
