<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <title>Starter</title>

  <!-- SEO meta -->
  <meta name="robots" content="index, follow" />
  <meta name="description" content="" />
  <!-- End SEO meta -->

  <!-- IE meta -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- End IE meta -->

  <!-- Apple meta -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="" />
  <!-- End Apple meta -->

  <!-- Mobile meta -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <!-- End mobile meta -->

  <!-- Facebook meta -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <!-- End Facebook meta -->

  <!-- Twitter meta -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:image" content="" />
  <!-- End Twitter meta -->

  <!-- build:css -->
  <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->

</head>

<body>
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="hero__logo">frida</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <div class="box">
            <h1 class="hero__headline">
              <span>Frida,</span> l’assistant pour les freelances français du digital</h1>
            <p class="hero__tagline">Frida est un service pour freelances qui s’occupe de tout votre administration et comptabilité: Devis, Contrats,
              Paiements.
              <br>
              <br> Grâce à Frida, gagnez jusqu’à 10h par mois et concentrez-vous uniquement sur ce que vous aimez: votre travail.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <div class="box">
            <div class="hero__cta">
              <img src="img/hero-cta.svg" alt="">
              <span>See features</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__shape"></div>
  </section>
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h2 class="features__headline">Frida vous accompagne</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-9">
          <ul class="row features__list">
            <li class="col-md-4 features__item">
              <h3>Envoi d'un devis</h3>
              <p>Soyez sûrs de remporter plus de projets avec la création et l'envoi de devis personnalisables et signables
                électroniquement.
              </p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Création d'un contrat</h3>
              <p>Soyez assuré d'être payer à la fin d'un projet avec l'aide de contrats en béton (co-crée avec les Avocats du
                Barreau de Paris).</p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Gestion de projet</h3>
              <p>Ayez une vision clair sur l'avancement d'un projet. Date de lancement, deadline, milestones, ne soyez plus
                en retard sur votre projet.</p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Envoi des factures</h3>
              <p>C'est simple : la génération et l'édition de factures est automatique, tout en restant 100% personnalisables.</p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Paiement</h3>
              <p>Proposez à vos clients de payer directement en ligne, recevez des alertes quand ils ont visionné et payé la
                facture.
              </p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Comptabilité et Impôts</h3>
              <p>Ne manquez plus jamais la déclaration de vos revenus avec l'envoi de rappels lorsqu'une échéance arrive.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="perks">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <div class="box">
            <h2 class="perks__headline">Un produit pensé pour les français… à l’échelle
              <span>mondiale</span>
            </h2>
            <div class="perks__spacer"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          <img src="" alt="" class="perks__icon">
        </div>
        <div class="col-md-4">
          <div class="box perks__perk">
            <p>Notre produit est entièrement adapté à la législation française 🇫🇷 (status, impôts).</p>
          </div>
        </div>
        <div class="col-md-1">
          <img src="" alt="" class="perks__icon">
        </div>
        <div class="col-md-4">
          <div class="box perks__perk">
            <p>Si vous êtes amenés à travailler avec des clients à l’étranger, notre produit proposera l’envoi de tous vos documents
              en anglais et dans de multiples devises ($, £, ¥).</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe">
    <div class="container">
      <h2 class="subscribe__headline">Tenez-moi au courant de la sortie !</h2>
      <p class="subscribe__text">Pas de spams, promis ! Nous ne vous enverrons qu'un seul et unique mail : quand notre produit sera disponible.</p>
      <form class="subscribe__form">
        <input class="subscribe__email" type="mail" placeholder="Adresse e-mail">
        <input class="subscribe__submit" type="submit" value="Envoyer">
      </form>
    </div>
  </section>
  <!--<script src="js/vendors.js"></script>-->
  <script src="js/app.js"></script>

</body>

</html>
