<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />

  <title>FRIDA - L’assistant pour les freelances du digital</title>

  <!-- SEO meta -->
  <meta name="robots" content="index, follow" />
  <meta name="description" content="FRIDA - L’assistant pour les freelances du digital : Devis, Contrats, Factures, Paiements"
  />
  <!-- End SEO meta -->

  <!-- IE meta -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- End IE meta -->

  <!-- Apple meta -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="" />
  <!-- End Apple meta -->

  <!-- Mobile meta -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <!-- End mobile meta -->

  <!-- Facebook meta -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.frida-app.fr" />
  <meta property="og:title" content="FRIDA - L’assistant pour les freelances du digital" />
  <meta property="og:image" content="https://www.frida-app.fr/img/fb-meta.jpg" />
  <meta property="og:site_name" content="Frida App" />
  <meta property="og:description" content="FRIDA - L’assistant pour les freelances du digital : Devis, Contrats, Factures, Paiements"
  />
  <!-- End Facebook meta -->

  <!-- Twitter meta -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:image" content="" />
  <!-- End Twitter meta -->

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- End Favicon -->

  <!-- build:css -->
  <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->

</head>

<body>
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="hero__logo">
            <img src="/img/logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <div class="box">
            <h1 class="hero__headline">
              <span>Frida,</span> l’assistant pour les freelances du digital</h1>
            <p class="hero__tagline">Frida est un service pour freelances qui s’occupe de toute votre administration et comptabilité : Devis, Contrats,
              Paiements.
              <br>
              <br> Grâce à Frida, gagnez jusqu’à 10h par mois et concentrez-vous uniquement sur ce que vous aimez : votre travail.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <div class="box">
            <a class="hero__cta" href="#features">
              <img src="img/hero-cta.svg" alt="">
              <span>Voir les fonctionnalités</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__shape">
      <video muted autoplay loop playsinline>
        <source src="img/hero-video.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <section class="features" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h2 class="features__headline">Frida vous accompagne</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <ul class="row features__list">
            <li class="col-md-4 features__item">
              <h3>Envoi de devis</h3>
              <p>Soyez sûr de remporter plus de projets avec la création et l’envoi de devis personnalisables et signables électroniquement.
              </p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Création de contrat</h3>
              <p>Soyez assuré d’être payer à la fin d’un projet avec l’aide de contrats en béton (co-créé avec les Avocats du
                Barreau de Paris).</p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Gestion de projet</h3>
              <p>Ayez une vision claire sur l’avancement d’un projet. Date de lancement, Deadline, milestones, ne soyez plus
                en retard dans votre projet. Avec notre outil de time tracking, calculez le temps réel passé sur votre projet.
                En plus de cela, Frida s’intègre à vos applications habituelles de gestion de projet : Trello, Asana.</p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Envoi des factures</h3>
              <p>C’est simple : la génération et l’édition de factures est automatique, tout en restant 100% personnalisable.
                Fini la galère des mentions légales, Frida s’occupe de tout. Une fois validée, nous gérons l’envoi de la
                facture à votre client.
              </p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Paiement</h3>
              <p>Proposez à vos clients de payer directement en ligne, recevez des alertes quand ils ont visionné et payé la
                facture. Vous pouvez également faire payer automatiquement vos clients de manière récurrente sans avoir besoin
                de créer de factures.
              </p>
            </li>
            <li class="col-md-4 features__item">
              <h3>Comptabilité et Impôts</h3>
              <p>Ne manquez plus jamais la déclaration de vos revenus avec l’envoi de rappels lorsqu’une échéance arrive. En
                vous proposant une calcul des charges et taxes à provisionner en fonction des revenus, ayez une vision clair
                sur vos revenus.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="perks">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <div class="box">
            <h2 class="perks__headline">Un produit pensé pour les français… à l’échelle
              <span>mondiale</span>
            </h2>
            <div class="perks__spacer"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1 col-xs-12">
          <img src="img/flag.svg" alt="" class="perks__icon">
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="box perks__perk">
            <p>Frida est entièrement adapté à la législation française 🇫🇷 (statuts, impôts).</p>
          </div>
        </div>
        <div class="col-md-1 col-xs-12">
          <img src="img/planet.svg" alt="" class="perks__icon">
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="box perks__perk">
            <p>Si vous êtes amenés à travailler avec des clients à l’étranger, Frida proposera l’envoi de tous vos documents
              en anglais et dans de multiples devises ($, £, ¥).</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe">
    <div class="container">
      <h2 class="subscribe__headline">Tenez-moi au courant de la sortie !</h2>
      <p class="subscribe__text">Pas de spams, promis ! Nous ne vous enverrons qu'un seul et unique mail : quand notre produit sera disponible. 😀</p>
      <form class="subscribe__form" id="subscribe-form">
        <input class="subscribe__email" type="email" name="email" id="email-input" placeholder="Adresse e-mail" required>
        <button class="subscribe__submit" type="submit">Envoyer</button>
      </form>
      <p class="subscribe__subscribed">Vous êtes inscrit à la liste !</p>
      <video muted autoplay loop playsinline class="subscribe__illustration">
        <source src="img/footer-video.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <script src="js/vendors.js"></script>
  <script src="js/app.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77464737-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-77464737-3');
  </script>


</body>

</html>
